body,
body * {
  color: #424242 !important;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}

p {
  line-height: 2rem;
}

blockquote {
  border-left: 5px solid #00c853;
}

.row {
  margin-bottom: 0;
}

@media only screen and (min-width: 993px) {
  nav {
    position: fixed;
    z-index: 1000;
    top: 0;
  }

  #sally {
    margin-top: 64px;
    height: calc(100vh - 64px);
    min-height: 480px;
  }
}

.sally-image,
.sally-image-small {
  /* Mike Hodgson 2018 */
  background-image: url("../img/sally.jpg");
  background-size: cover;
}

.sally-image-small {
  height: 400px;
  background-repeat: no-repeat;
  background-position: 5% 12%;
}

@media only screen and (min-width: 993px) {
  .sally-image {
    display: block;
    position: absolute;
    height: calc(100vh - 64px) !important;
    width: 50%;
    min-height: 480px !important;
    right: 0;
    background-repeat: no-repeat;
    background-position: 16% 20%;
  }
}

.intro .title,
.intro blockquote {
  width: 265px;
}

@media only screen and (min-width: 993px) {
  #about .container {
    padding: 60px 0;
  }
}

#offer {
  /* https://pixabay.com/en/plant-succulent-potted-white-space-2004483/ */
  background-image: url("../img/plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media only screen and (min-width: 993px) {
  #offer {
    padding-top: 32px;
  }
}

#interest {
  height: 500px;
  /* https://pixabay.com/photos/food-background-vegetables-vegan-3712592/ */
  background-image: url("../img/food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

#interest p,
#interest li {
  font-size: 1.2rem;
}

#ebook {
  background-color: #165016;
}

#ebook .container {
  padding: 60px 0;
}

/* Override ActiveCampaign form */
#ebook form * {
  color: #ffffff !important;
  font-family: "Muli", sans-serif;
  font-weight: 300 !important;
}

#ebook form input {
  background-color: #ffffff !important;
}

#ebook form input::placeholder {
  color: rgb(117, 117, 117);
}

@media only screen and (min-width: 993px) {
  #interest {
    height: 800px;
    background-position: 0% 80%;
  }
}

.parallax-container h2 {
  font-weight: 700;
}

.parallax-container-no-js {
  /* https://pixabay.com/en/ivy-plant-garden-nature-green-3519431/ */
  background-image: url("../img/ivy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}
